.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  border: 2px solid red;
  padding: 8px;
  margin-bottom: 12px;
}
.header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo {
  width: 140px;
  
  object-fit: contain;
  margin-left: 0%;
  margin-top: 0%;
}
